.DS_Store
node_modules
.turbo
*.log
.next
.vercel
.react-router
.trigger
.sst
dist
dist-ssr
*.local
.cache
server/dist
public/dist
vite.config.ts.timestamp*

opencode.json

scripts/migrations/data
scripts/paperless-test.ts

# local env files
.env
.env.local
.env.dev
.env.development.local
.env.test.local
.env.prod
.env.production
.env.production.local
!packages/apps/**/.env
packages/database/.env
packages/database/supabase/seed.sql

.vercel
.env*.local

.react-router

# Rust
**/target/
**/*.rs.bk
**/pkg/
**/pkg/

# C++ (cad-engine)
**/build/
!**/build/.gitkeep
