@import url("non.geist");
@import url("non.geist/mono");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 37.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --radius: 0.675rem;

    --header-height: 70px;
  }

  .dark {
    --background: 220 14.3% 6.1%;
    --foreground: 0 0% 98%;
    --card: 220 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 220 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --muted: 0 0% 13.6%;
    --muted-foreground: 0 0% 65%;
    --accent: 0 0% 7.6%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 220 3.7% 15.9%;
    --input: 220 3.7% 15.9%;
    --ring: 220 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    font-synthesis-weight: none;
    text-rendering: optimizeLegibility;
  }
}
